{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>Edit course</h1>
<br>
<form action="" method="post" class="row g-3 col-md-6 mt-5">
    {% if status == 'error' %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    {% if status == 'success' %}
    <div class="alert alert-success" role="alert">Course has been updated!</div>
    {% endif %}
    <div class="col-md-12">
        <label class="form-label">Course name</label>
        <input type="text" name="name" class="form-control" placeholder="Python for beginners"
               value="{% if data.name %}{{ data.name }}{% endif %}">
    </div>
    <div class="col-md-6">
        <label class="form-label">Course type</label>
        <select name="type" class="form-select" disabled="">
            <option value=""> -- None -- </option>
            {% if types_list %}
            {% for type in types_list %}
            <option {% if type.code == data.type %}selected="selected" {% endif%}value="{{ type.code }}">{{ type.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <input type="hidden" name="type" value="{{ data.type }}">
    </div>
    <div class="col-md-6">
        <label class="form-label">Program name</label>
        <select name="category_id" class="form-select">
            <option value="0"> -- None -- </option>
            {% if programs_list %}
            {% for program in programs_list %}
            <option {% if program.id == data.category_id %}selected="selected" {% endif%}value="{{ program.id }}">{{ program.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}
