<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <main>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">WSGI</span>
                </a>
                {% include "top_menu.html" %}
            </header>
        </div>
        <div class="container">{% block body %}{% endblock %}</div>
    </main>
    <footer class="py-3 my-4 border-top">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <p class="col-md-4 mb-0 text-muted">&copy; {{ extra.date.strftime('%Y') }} Pleshakov S.A.</p>
            {% include "bottom_menu.html" %}
        </div>
    </footer>
</body>
</html>