<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/assert/img/favicon.ico" />
    <link rel="stylesheet" href="/assert/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assert/css/style.css" />
    <title>{{ title }}</title>
</head>
<body>
<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">WSGI</span>
            </a>
            {% if extra.top_menu %}
            <ul class="nav nav-pills">
                {% for item in extra.top_menu %}
                     <li class="nav-item">
                         <a href="{{ item.link }}" class="nav-link{% if item.link == extra.current_url %} active{% endif %}" aria-current="page">{{ item.title }}</a>
                     </li>
                {% endfor %}
            </ul>
            {% endif %}
        </header>
    </div>
    <div class="container">
